@page "/"
@using ShopOnline.Models.Dtos
@inherits ProductsBase

@if (Products == null)
{
    <h3>Loading products...</h3>
}
else
{
    <h3 class="mb-5">Products</h3>

    var productCount = Products.Count();

    if (productCount > 0)
    {
        var productRowList = new List<ProductDto>();

        var groupProductsByCategory = GetGroupProductsByCategory();
        @foreach (var groupItem in groupProductsByCategory)
        {
            <div class="row">
                <h4>@GetCatagoryName(groupItem)</h4>
                <div class = "row mt-3">
                    <DisplayProducts Products="@groupItem.Take(4)"></DisplayProducts>
                </div>
                <hr class = "mb-3"/>
            </div>
        }

    }
}